# Server Configuration
PORT=5000
NODE_ENV=development

# MySQL Database Configuration
DB_HOST=localhost
DB_USER=root
DB_PASSWORD=123456
DB_NAME=iot_system

# MQTT Broker Configuration
MQTT_URL=mqtt://172.20.10.3:1884
MQTT_USERNAME=Maithutrang
MQTT_PASSWORD=19122004
